.banner{
        background-image: url('https://tongal.s3.amazonaws.com/custom-files/2021/03/01/Dark_editing_netflix_blogbanner.png');
        background-size: cover;
        height: 500px;
        color : white;
        
}